# **Name - Arsh Raj, Course - Python With Data Science and Machine Learning (4 Weeks)**

## **Assignmnet 1**

**Q1 Declare and Print**

In [ ]:
Name = "Arsh Raj"
Course = "Python With Data Science and Machine Learning (4 Weeks)"
Assignment = "Assignment 1"
Question = "Q1 Declare and Print"

print(f"Name - {Name}, Course - {Course}")
print(f"{Assignment}")
print(f"{Question}")

Name - Arsh Raj, Course - Python With Data Science and Machine Learning (4 Weeks)
Assignment 1
Q1 Declare and Print

**Q2 Swap Two Numbers**

In [ ]:
a = 5
b = 10

print(f"Originally a = {a}, b = {b}")

a, b = b, a

print(f"After swapping, a = {a}, b = {b}")

Originally a = 5, b = 10
After swapping, a = 10, b = 5

**Q3 Arithmetic Operations**

In [ ]:
# prompt: arithmetic operations , take input from user

a = int(input("Enter the First Number: "))
b = int(input("Enter the Second Number: "))

print(f"Sum: {a + b}")
print(f"Difference (a-b): {a - b}")
print(f"Product: {a * b}")
print(f"Division (a/b): {a / b}")
print(f"Floor Division (a//b): {a // b}")
print(f"Modulus (a%b): {a % b}")
print(f"Exponentiation (a**b): {a ** b}")

Enter the First Number: 56
Enter the Second Number: 5
Sum: 61
Difference (a-b): 51
Product: 280
Division (a/b): 11.2
Floor Division (a//b): 11
Modulus (a%b): 1
Exponentiation (a**b): 550731776

**Q4 Percentage Calculation**

In [ ]:
Physics = int(input("Enter the marks of Physics: "))
Chemistry = int(input("Enter the marks of Chemistry: "))
Maths = int(input("Enter the marks of Maths: "))
English = int(input("Enter the marks of English: "))
Computer_Science = int(input("Enter the marks of Computer Science: "))

Total = Physics + Chemistry + Maths + English + Computer_Science

Percentage = (Total / 500) * 100

print(f"Total Marks: {Total}")
print(f"Percentage: {Percentage}%")

Enter the marks of Physics: 78
Enter the marks of Chemistry: 89
Enter the marks of Maths: 96
Enter the marks of English: 92
Enter the marks of Computer Science: 90
Total Marks: 445
Percentage: 89.0%

**Q5 Compound Assignment Operator**

In [ ]:
x = int(input("Enter the Value of x: "))

x += 5
print(f"x after x += 5: {x}")

x -= 3
print(f"x after x -= 3: {x}")

x *= 2
print(f"x after x *= 2: {x}")

x /= 4
print(f"x after x /= 4: {x}")

x //= 1
print(f"x after x //= 1: {x}")

x %= 3
print(f"x after x %= 3: {x}")

x **= 2
print(f"x after x **= 2: {x}")

Enter the Value of x: 36
x after x += 5: 41
x after x -= 3: 38
x after x *= 2: 76
x after x /= 4: 19.0
x after x //= 1: 19.0
x after x %= 3: 1.0
x after x **= 2: 1.0

**Q6 Relational Operator**

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

print(f"a > b is {a > b}")
print(f"a < b is {a < b}")
print(f"a >= b is {a >= b}")
print(f"a <= b is {a <= b}")
print(f"a == b is {a == b}")
print(f"a != b is {a != b}")

Enter the value of a: 76
Enter the value of b: 48
a > b is True
a < b is False
a >= b is True
a <= b is False
a == b is False
a != b is True

**Q7 Logical Operator**

In [ ]:
p = True
q = False

print(f"p and q is {p and q}")
print(f"p or q is {p or q}")
print(f"not p is {not p}")

p and q is False
p or q is True
not p is False

**Q8 Identity Operator**

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(f"x is y: {x is y}")
print(f"x is z: {x is z}")
print(f"x is not y: {x is not y}")
print(f"x is not z: {x is not z}")

x is y: False
x is z: True
x is not y: True
x is not z: False

**Q9 Bitwise Operator**

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

print(f"a & b: {a & b}")
print(f"a | b: {a | b}")
print(f"a ^ b: {a ^ b}")
print(f"~a: {~a}")
print(f"a << 2: {a << 2}")
print(f"a >> 2: {a >> 2}")

Enter the value of a: 45
Enter the value of b: 95
a & b: 13
a | b: 127
a ^ b: 114
~a: -46
a << 2: 180
a >> 2: 11

**Q10 Variable Types and Typecasting**

In [ ]:
age = 30  # int
name = "Alice"  # string
height = 1.65  # float
is_student = True  # bool

print(f"Age: {age}, Type: {type(age)}")
print(f"Name: {name}, Type: {type(name)}")
print(f"Height: {height}, Type: {type(height)}")
print(f"Is Student: {is_student}, Type: {type(is_student)}")

# Typecasting
age_str = str(age)
height_int = int(height)
is_student_int = int(is_student)

print(f"Age as string: {age_str}, Type: {type(age_str)}")
print(f"Height as integer: {height_int}, Type: {type(height_int)}")
print(f"Is Student as integer: {is_student_int}, Type: {type(is_student_int)}")

Age: 30, Type: <class 'int'>
Name: Alice, Type: <class 'str'>
Height: 1.65, Type: <class 'float'>
Is Student: True, Type: <class 'bool'>
Age as string: 30, Type: <class 'str'>
Height as integer: 1, Type: <class 'int'>
Is Student as integer: 1, Type: <class 'int'>

## **Assignment 2**

**Q1 Write a program to print number 1 to 10 but stop the loop when number reach 9.**

In [ ]:
for i in range(1, 11):
  print(i)

  if i == 9:
    break

1
2
3
4
5
6
7
8
9

**Q2 Write a program that keep asking the user to enter the number, stop when the user enter a negative user.**

In [ ]:
while True:
    input_from_user = int(input("Enter a number: "))
    if input_from_user < 0:
        print("Negative number entered. Stopping.")
        break

Enter a number: 6
Enter a number: 76
Enter a number: 98
Enter a number: 656
Enter a number: -987
Negative number entered. Stopping.

**Q3 Write a program to find first even number in a list using using a for loop and break.**

In [ ]:
my_list = [1, 3, 5, 7, 9, 25, 4, 6, 8, 11]

first_even_number = None

for number in my_list:
  if number % 2 == 0:
    first_even_number = number
    break

if first_even_number is not None:
  print(f"The first even number in the list is : {first_even_number}")
else:
  print("No even numbers found in the list.")

The first even number in the list is : 4

**Q4 Keep adding number onwards until total sum exceeds 25 print last sum and digit.**

In [ ]:
total_sum = int(input("Enter the initial sum: "))
digit = int(input("Enter the initial digit: "))

while total_sum <= 25:
  digit += 1
  total_sum += digit

print(f"Last sum: {total_sum}")
print(f"Last digit: {digit}")

Enter the initial sum: 8
Enter the initial digit: 9
Last sum: 29
Last digit: 11

**Q5 Keep asking the user to guess the password until they guess admin123, use while and break.**

In [ ]:
while True:
    password_guess = input("Guess the password: ")
    if password_guess == "admin123":
        print("Correct password!")
        break
    else:
        print("Incorrect password. Try again.")

Guess the password: rehan789
Incorrect password. Try again.
Guess the password: mazo493
Incorrect password. Try again.
Guess the password: admin3211
Incorrect password. Try again.
Guess the password: admin123
Correct password!

**Q6 Print multiples of 7 using while loop, stop the value greater than 100.**

In [ ]:
multiples_of_7 = 7

while multiples_of_7 <= 100:
  print(multiples_of_7)

  multiples_of_7 += 7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

**Q7 Given a number print each digit until  a zero is found.**

In [ ]:
number = int(input("Enter a number: "))

number_str = str(number)

for digit_char in number_str:
  digit = int(digit_char)
  print(digit)
  if digit == 0:
    break

Enter a number: 09
9

## **Assignment 3**

**Q1 Take a sentence and reverse the order of its words. Example: "I love Python" → "Python love I".**

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
reversed_words = words[::-1]
reversed_sentence = " ".join(reversed_words)
print(f"Reversed sentence: {reversed_sentence}")

Enter a sentence: My name is Arsh Raj
Reversed sentence: Raj Arsh is name My

**Q2 Given a string, count consonants (non-vowel letters, ignoring case). Example: "Hello World" →
7 (H, l, l, W, r, l, d).**

In [ ]:
text = input("Enter a string: ")

vowels = "aeiou"
consonant_count = 0

for char in text.lower():
    if char.isalpha() and char not in vowels:
        consonant_count += 1

print("Number of consonants:", consonant_count)

Enter a string: pneumonoultramicroscopicsilicovolcanoconiosis
Number of consonants: 25

**Q3 Check if two strings are anagrams (same characters, same frequency, ignoring case).
Example: "Listen", "Silent" → "Anagram", "Hello", "World" → "Not Anagram".**

In [ ]:
def is_anagram(s1, s2):

    s1 = s1.replace(" ", "").lower()
    s2 = s2.replace(" ", "").lower()
    return sorted(s1) == sorted(s2)

s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

if is_anagram(s1, s2):
    print("Anagram")
else:
    print("Not Anagram")

Enter first string: throw
Enter second string: worth
Anagram

**Q4 Find the first character in a string that appears only once (case-sensitive). Example: "swiss" → "w", "programming" → "r".**

In [ ]:
def first_unique_char(s):

    char_count = {}
    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    for char in s:
        if char_count[char] == 1:
            return char

    return None

s = input("Enter a string: ")
result = first_unique_char(s)
print(f"First unique character: {result}")

Enter a string: degradable
First unique character: g

**Q5 Compress a string by replacing repeated characters with the character and count. Example: "aaabbc" → "a3b2c1". If compressed string isn’t shorter, return original.**

In [ ]:
def compress_string(s):
    if not s:
        return s

    compressed = []
    current_char = s[0]
    count = 1

    for char in s[1:]:
        if char == current_char:
            count += 1
        else:
            compressed.append(f"{current_char}{count}")
            current_char = char
            count = 1
    compressed.append(f"{current_char}{count}")

    compressed_str = "".join(compressed)
    return compressed_str if len(compressed_str) < len(s) else s

s = input("Enter a string: ")
result = compress_string(s)
print("Result:", result)

Enter a string: aaaaaahhhhhggggddddaallldd
Result: a6h5g4d4a2l3d2

**Q6 Find the longest substring in a string that is a palindrome (case-sensitive). Example: "babad" → "bab" (or "aba"), "cbbd" → "bb". If multiple exist, return the first.**

In [ ]:
def longest_palindrome(s):
    return max([s[i:j] for i in range(len(s)) for j in range(i+1,len(s)+1) if s[i:j]==s[i:j][::-1]], key=len, default="")

s = input("Enter a string: ")
print("Longest palindromic substring:", longest_palindrome(s))

Enter a string: Malayalam
Longest palindromic substring: alayala

**Q7 Given a string containing only '(', ')', '{', '}', '[', ']', check if the sequence is valid (properly nested
and closed). Example: "({[]})" → "Valid", "(]" → "Invalid"**

In [ ]:
def is_valid(s):
    stack = []
    mapping = {')': '(', '}': '{', ']': '['}
    for char in s:
        if char in mapping:
            if stack and stack[-1] == mapping[char]:
                stack.pop()
            else:
                return False
        else:
            stack.append(char)
    return not stack

s = input("Enter a string: ")
print("Valid" if is_valid(s) else "Invalid")

Enter a string: ({[]})
Valid

**Q8 Given a start word, end word, and a list of valid words, find the minimum number of steps to
transform the start word to the end word by changing one letter at a time, where each
intermediate word must be in the list. All words are same length, lowercase. Example:
start="hit", end="cog", wordList=["hot","dot","dog","lot","log","cog"] → 5 (hit → hot → dot → dog →
cog). Return 0 if impossible.**

In [ ]:
from collections import deque

def ladderLength(start, end, wordList):
    word_set = set(wordList)
    if end not in word_set:
        return 0
    queue = deque([(start, 1)])
    visited = set([start])
    while queue:
        current, steps = queue.popleft()
        if current == end:
            return steps
        for i in range(len(current)):
            for c in 'abcdefghijklmnopqrstuvwxyz':
                next_word = current[:i] + c + current[i+1:]
                if next_word in word_set and next_word not in visited:
                    visited.add(next_word)
                    queue.append((next_word, steps + 1))
    return 0

start = "hit"
end = "cog"
wordList = ["hot","dot","dog","lot","log","cog"]
print("Minimum steps:", ladderLength(start, end, wordList))

Minimum steps: 5

## **Assignment 4**

**Q1 - Create a dictionary of 5 students with their names as keys and marks as values. Print all the keys and values.**

In [ ]:
marks_records = {
    'Radha' : 76,
    'Yasmin' :  89,
    'Sejal' : 95,
    'Prateek' : 67,
    'Rahul' : 53
}

In [ ]:
print(marks_records)

{'Radha': 76, 'Yasmin': 89, 'Sejal': 95, 'Prateek': 67, 'Rahul': 53}

**Q2 Write a program to count the frequency of each character in a given string using a dictionary.**

In [ ]:
base_str = "pneumonoultramicroscopicsilicovolcanoconiosis"
frequency = {}

for char in base_str :
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'n': 4, 'e': 1, 'u': 2, 'm': 2, 'o': 9, 'l': 3, 't': 1, 'r': 2, 'a': 2, 'i': 6, 'c': 6, 's': 4, 'v': 1}

**Q3 Create a dictionary with names as keys and ages as values. Print the name(s) of the oldest
person(s).**

In [ ]:
person_ages = {
    'Gauri': 24,
    'Meeta': 32,
    'Surya': 52,
    'Deepesh': 19,
    'Falguni': 65,
}

In [ ]:
max_age = max(person_ages.values())
oldest = [name for name, age in person_ages.items() if age == max_age]
print(oldest)

['Falguni']

**Q4 Merge two dictionaries and print the merged dictionary.**

In [ ]:
dict1 = {
    'team1': 'PBKS',
    'team2': 'RCB',
    'team3': 'MI',
    'team4': 'GT',
    'team5': 'LSG',
}

In [ ]:
dict2 = {
    'team6': 'DC',
    'team7': 'SRH',
    'team8': 'KKR',
    'team9': 'RR',
    'team10': 'CSK',
}

In [ ]:
dict3 = dict1 | dict2
print(dict3)

{'team1': 'PBKS', 'team2': 'RCB', 'team3': 'MI', 'team4': 'GT', 'team5': 'LSG', 'team6': 'DC', 'team7': 'SRH', 'team8': 'KKR', 'team9': 'RR', 'team10': 'CSK'}

In [ ]:
dict3

{'team1': 'PBKS',
 'team2': 'RCB',
 'team3': 'MI',
 'team4': 'GT',
 'team5': 'LSG',
 'team6': 'DC',
 'team7': 'SRH',
 'team8': 'KKR',
 'team9': 'RR',
 'team10': 'CSK'}

**Q5 Create a dictionary where the keys are numbers between 1 and 10, and the values are their squares.**

In [ ]:
squares = {x: x**2 for x in range(1, 11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**Q6 Write a program that inverts a dictionary (i.e., swaps keys and values). Assume all values are unique.**

In [ ]:
original_dictionary = {
    'user1': 'Anushka',
    'user2': 'Sanskar',
    'user3': 'Ritvik',
    'user4': 'Ridhi'
}

inverted_dictionary = {value: key for key, value in original_dictionary.items()}

print('Original Dictionary : ', original_dictionary)
print('Inverted Dictionary : ', inverted_dictionary)

Original Dictionary :  {'user1': 'Anushka', 'user2': 'Sanskar', 'user3': 'Ritvik', 'user4': 'Ridhi'}
Inverted Dictionary :  {'Anushka': 'user1', 'Sanskar': 'user2', 'Ritvik': 'user3', 'Ridhi': 'user4'}

**Q7 Given a nested dictionary of students and their subject-wise marks, calculate and print the average marks for each student.**

In [ ]:
students = {
    'Aryan': {'Math': 90, 'Physics': 75, 'Chemistry': 88},
    'David': {'Math': 98, 'Physics': 92, 'Chemistry': 94},
    'Rosy': {'Math': 68, 'Physics': 78, 'Chemistry': 82}
}

for student, marks in students.items():
    total_marks = sum(marks.values())
    average_marks = total_marks / len(marks)
    print(f"Average marks for {student}: {average_marks:.2f}")

Average marks for Aryan: 84.33
Average marks for David: 94.67
Average marks for Rosy: 76.00

**Q8 Write a program to group words by their length from a list using a dictionary.**

In [ ]:
words = ["apple", "orange", "master", "dog", "tiger", "impact"]

grouped_words = {}

for word in words:
    word_length = len(word)
    if word_length in grouped_words:
        grouped_words[word_length].append(word)
    else:
        grouped_words[word_length] = [word]

print(grouped_words)

{5: ['apple', 'tiger'], 6: ['orange', 'master', 'impact'], 3: ['dog']}

**Q9 Write a program to group words by their length from a list using a dictionary.**

In [ ]:
words = ["apple", "orange", "master", "dog", "tiger", "impact"]

grouped_words = {}

for word in words:
    word_length = len(word)
    if word_length in grouped_words:
        grouped_words[word_length].append(word)
    else:
        grouped_words[word_length] = [word]

print(grouped_words)

{5: ['apple', 'tiger'], 6: ['orange', 'master', 'impact'], 3: ['dog']}

**Q10 Create a program that takes a list of tuples (name, score) and builds a dictionary where each name is a key, and the value is a list of all their scores. Then calculate and print each person's average score.**

In [ ]:
scores_list = [('Andrew', 85),
               ('Maanvi', 92),
               ('Andrew', 90),
               ('Veer', 78),
               ('Maanvi', 88),
               ('Veer', 96)]

score_dict = {}

for name, score in scores_list:
    if name in score_dict:
        score_dict[name].append(score)
    else:
        score_dict[name] = [score]

print("Scores dictionary:", score_dict)

for name, scores in score_dict.items():
    average_score = sum(scores) / len(scores)
    print(f"{name}'s average score: {average_score:.2f}")

Scores dictionary: {'Andrew': [85, 90], 'Maanvi': [92, 88], 'Veer': [78, 96]}
Andrew's average score: 87.50
Maanvi's average score: 90.00
Veer's average score: 87.00

## **Assignmnet 5**

**Q Write a program to make a pyramid.**

In [ ]:
def pyramid(rows):
    for i in range(1, rows + 1):
        print(' ' * (rows - i) + '*' * (2 * i - 1))

pyramid(5)

    *
   ***
  *****
 *******
*********

**Q2 Create a simple menu-driven program using while loop.**

In [ ]:
chores = []

while True:
    print("\nHouse Chores Menu")
    print("1. View chores")
    print("2. Add a chore")
    print("3. Exit")
    choice = input("Enter your choice (1-3): ")

    if choice == "1":
        print("\nChores:")
        for chore in chores:
            print("- " + chore)
    elif choice == "2":
        chore = input("Enter a new chore: ")
        chores.append(chore)
        print("Chore added!")
    elif choice == "3":
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Try again.")

House Chores Menu
1. View chores
2. Add a chore
3. Exit
Enter your choice (1-3): 1

Chores:

House Chores Menu
1. View chores
2. Add a chore
3. Exit
Enter your choice (1-3): 2
Enter a new chore: Cleaning Dishes
Chore added!

House Chores Menu
1. View chores
2. Add a chore
3. Exit
Enter your choice (1-3): 1

Chores:
- Cleaning Dishes

House Chores Menu
1. View chores
2. Add a chore
3. Exit
Enter your choice (1-3): 3
Goodbye!

**Q3 Create a pattern like a pyramid but right-angled.**

In [ ]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
    print("* " * (i + 1))

Enter number of rows: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

**Q4 Draw a sqare pattern like star.**

In [ ]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    print("* " * n)

Enter the number of rows: 10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

**Q5 Draw a circular pattern like start.**

In [ ]:
radius = 8
for y in range(-radius, radius + 1):
    for x in range(-radius, radius + 1):
        if (x**2 + y**2) <= radius**2 + radius // 2:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

            * * * * *
        * * * * * * * * *
      * * * * * * * * * * *
    * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
    * * * * * * * * * * * * *
      * * * * * * * * * * *
        * * * * * * * * *
            * * * * *

**Q6 Draw a rectangular pattern like star.**

In [ ]:
rows = int(input("Enter number of rows : "))
columns = int(input("Enter number of columns : "))

for i in range(rows):
    for j in range(columns):
        print("*", end=" ")
    print()

Enter number of rows : 10
Enter number of columns : 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

**Q7 Create a list ofeven numbers belonging to 'S' list.**

In [ ]:
S = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [x for x in S if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]


## **Assignment 6**

**Q1 Write a Python program to create a tuple with different data types and print its type.**

In [ ]:
tuple = (42, "Hello", 3.14, True, [1, 2, 3])

print("Tuple :", tuple)

print("Type :", type(tuple))

Tuple : (42, 'Hello', 3.14, True, [1, 2, 3])
Type : <class 'tuple'>

**Q2 Given a tuple t = (10, 20, 30, 40, 50), write a program to access the second last element.**

In [ ]:
t = (10, 20, 30, 40, 50)
second_last = t[-2]
print("Second last element :", second_last)

Second last element : 40

**Q3 Write a program to count the number of times a given element appears in a tuple.**

In [ ]:
t = (10, 20, 30, 40, 50, 20, 20)
element = 20

count = t.count(element)
print(f"Number of times {element} appears : {count}")

Number of times 20 appears : 3

**Q4 Write a program to convert a tuple of strings into a single string. Example: ('Python', 'is', 'fun') -->
 'Python is fun'.**

In [ ]:
t = ('Python', 'is', 'fun')
result = ' '.join(t)
print(result)

Python is fun

**Q5 Write a Python program to find the index of an element in a tuple.**

In [ ]:
t = (10, 20, 30, 40, 50)
element = 40

index = t.index(element)
print("Index :", index)

Index : 3

**Q6 Write a Python program to create two sets and perform union, intersection, and difference
 operations.**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
print("Union :", union)

intersection = set1 & set2
print("Intersection :", intersection)

difference = set1 - set2
print("Difference :", difference)

Union : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection : {4, 5}
Difference : {1, 2, 3}

**Q7 Write a program to check if a given element is present in a set or not.**

In [ ]:
set1 = {1, 2, 3, 4, 5}
element = 3

if element in set1:
    print(f"{element} is present in the set")
else:
    print(f"{element} is not present in the set")

3 is present in the set

**Q8 Write a program to remove duplicate elements from a list using a set.**

In [ ]:
list1 = [1, 2, 2, 3, 4, 4, 5]

unique_list = list(set(list1))

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

**Q9 Write a Python program to find the symmetric difference between two sets.**

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1 ^ set2                                        # Using the ^ operator
print("Symmetric difference (using ^):", symmetric_diff)

symmetric_diff = set1.symmetric_difference(set2)                    # Using the .symmetric_difference() method
print("Symmetric difference (using method):", symmetric_diff)

Symmetric difference (using ^): {1, 2, 5, 6}
Symmetric difference (using method): {1, 2, 5, 6}

**Q10 Given a list of numbers, write a Python program to find all unique elements using sets.**

In [ ]:
numbers = [2, 3, 4, 2, 5, 6, 3, 7]

unique_numbers = set(numbers)

print("Unique elements:", unique_numbers)

Unique elements: {2, 3, 4, 5, 6, 7}

## **Assignment 7**

**Q1 Write a function to find the factorial of a number using recursion.**

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input('Enter a number : '))
print(f"The factorial of {number} is {factorial(number)}")

Enter a number : 7
The factorial of 7 is 5040

**Q2 Write a function that checks whether a number is prime or not.**

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 7
7 is a prime number.

**Q3 Create a function that takes a string as input and returns the number of vowels in it.**

In [ ]:
def count_vowels(s):
    vowels = "aeiou"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

string = input("Enter a string : ")
print("Number of vowels :", count_vowels(string))

Enter a string : Tremendous
Number of vowels : 4

**Q4 Write a function that accepts a list of numbers and returns the maximum and minimum values.**

In [ ]:
def find_max_and_min(numbers):
    if not numbers:
        return None, None
    return max(numbers), min(numbers)

nums = [3, 1, 4, 1, 5, 9, 2]
maximum, minimum = find_max_and_min(nums)
print("Maximum :", maximum)
print("Minimum :", minimum)

Maximum : 9
Minimum : 1

**Q5 Write a Python function to calculate the nth Fibonacci number using recursion.**

In [ ]:
def fibonacci_number(n):
    if n < 0:
        raise ValueError("n must be a non-negative integer")
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci_number(n-1) + fibonacci_number(n-2)

n = int(input("Enter a number : "))
print(f"The {n}th Fibonacci number is :", fibonacci_number(n))

Enter a number : 11
The 11th Fibonacci number is : 89

**Q6 Create a function that accepts two numbers and returns their greatest common divisor (GCD).**

In [ ]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

print(gcd(56, 98))

14

**Q7 Write a function that takes a list and returns a new list with only unique elements.**

In [ ]:
def unique_elements(lst):
    return list(set(lst))

print('Unique Elements are :', unique_elements([1, 2, 2, 3, 4, 4, 5]))

Unique Elements are : [1, 2, 3, 4, 5]

**Q8 Write a function to count the frequency of each word in a given string.**

In [ ]:
from collections import Counter

def word_frequency(s):
    return dict(Counter(s.split()))

text = "Data science is the future, and the future is Data driven"
print(word_frequency(text))

{'Data': 2, 'science': 1, 'is': 2, 'the': 2, 'future,': 1, 'and': 1, 'future': 1, 'driven': 1}

**Q9 Write a function that takes a number and returns True if it is a palindrome, otherwise False.**

In [ ]:
def is_palindrome(number):
    original = str(number)
    return original == original[::-1]

num = 12321
print(is_palindrome(num))

num = 12345
print(is_palindrome(num))

True
False

**Q10 Create a function that takes a temperature in Celsius and returns it in Fahrenheit.**

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

temp_celsius = int(input("Enter temperature in Celsius : "))
print(f"{temp_celsius}°C is {celsius_to_fahrenheit(temp_celsius)}°F")

Enter temperature in Celsius : 37
37°C is 98.6°F

## **Assignment 8**

**Q1 Write a Python program to create a new text file and write the text 'Hello, File Handling!' to it.**

In [ ]:
with open('new_file.txt', 'w') as f:
  f.write('Hello, File Handling!')
  print(f.read)

<built-in method read of _io.TextIOWrapper object at 0x7aed296d92f0>

**Q2 Write a Python program to read the contents of 'example.txt' and display them on the screen.**

In [ ]:
with open('example.txt', 'w') as file:
    file.write("This is an example file.\nHello, Python!")

with open('example.txt', 'r') as file:
    contents = file.read()
print(contents)

This is an example file.
Hello, Python!

**Q3 Write a Python program to count the number of words in a given text file.**

In [ ]:
filename = 'example.txt'

try:
    with open(filename, 'r') as file:
        contents = file.read()
        words = contents.split()
        word_count = len(words)
    print(f"The number of words in '{filename}' is: {word_count}")
except FileNotFoundError:
    print(f"Error: The file '{filename}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

The number of words in 'example.txt' is: 7

**Q4 Write a Python program to read a file and print only those lines which start with the letter 'A'.**

In [ ]:
with open("sample.txt", "w") as file:
    file.write("Apple is a fruit.\n")
    file.write("Banana is yellow.\n")
    file.write("Ants are insects.\n")
    file.write("Orange is citrus.\n")
    file.write("Alligator is a reptile.\n")

filename = "sample.txt"

with open(filename, 'r') as file:
    for line in file:
        if line.startswith('A'):
            print(line, end='')

Apple is a fruit.
Ants are insects.
Alligator is a reptile.

**Q5 Write a Python program to merge the contents of two files into a third file.**

In [ ]:
with open("file1.txt", "w") as f:
    f.write("This is file 1.\n")
with open("file2.txt", "w") as f:
    f.write("This is file 2.\n")

file1 = "file1.txt"
file2 = "file2.txt"
merged_file = "merged.txt"

with open(merged_file, "w") as outfile:
    with open(file1, "r") as infile:
        outfile.write(infile.read())
    with open(file2, "r") as infile:
        outfile.write(infile.read())

with open(merged_file, "r") as f:
    print("The Merged File is:")
    print(f.read())

The Merged File is:
This is file 1.
This is file 2.

**Q6 Write a Python program that reads a text file and prints its content in reverse order (last line first).**

In [ ]:
with open("original.txt", "w") as file:
    file.write("First line.\n")
    file.write("Second line.\n")
    file.write("Third line.\n")
    file.write("Fourth line.\n")

filename = "original.txt"

with open(filename, "r") as file:
    lines = file.readlines()

print("Contents in reverse order:")
for line in reversed(lines):
    print(line, end='')

Contents in reverse order:
Fourth line.
Third line.
Second line.
First line.

**Q7 Write a Python program to find and replace a word in a file (e.g., replace 'old' with 'new').**

In [ ]:
with open("oldfile.txt", "w") as file:
    file.write("This is the old text.\n")
    file.write("The old cat sat on the mat.\n")
    file.write("The old habits die hard.\n")
    file.write("We need to replace old with latest.\n")


filename = "oldfile.txt"

old_word = "old"
new_word = "new"

with open(filename, "r") as file:
    content = file.read()

content = content.replace(old_word, new_word)

with open(filename, "w") as file:
    file.write(content)

with open("oldfile.txt", "r") as file:
    print("Final file contents: \n")
    print(file.read())

Final file contents:

This is the new text.
The new cat sat on the mat.
The new habits die hard.
We need to replace new with latest.

**Q8 Write a Python program to create a log file and append timestamps whenever the program is run.**

In [ ]:
import datetime
import pytz

log_file = "program_log.txt"

ist = pytz.timezone('Asia/Kolkata')
now = datetime.datetime.now(ist)

timestamp = now.strftime("%d-%m-%Y %H:%M:%S %Z")

print("Current timestamp (IST):", timestamp)

with open(log_file, "a") as file:
    file.write(f"Program run at: {timestamp}\n")

print(f"Timestamp logged to {log_file}")

Current timestamp (IST): 23-06-2025 15:24:31 IST
Timestamp logged to program_log.txt

**Q9 Write a Python program to store and read student records (name and marks) from a file.**

In [ ]:
def store_student_records(filename):
    students = []
    print("Enter student records (name and marks). Enter 'done' to finish.")
    while True:
        name = input("Enter student name: ")
        if name.lower() == 'done':
            break
        marks = input("Enter marks: ")
        students.append(f"{name},{marks}\n")

    with open(filename, "w") as file:
        file.writelines(students)
    print("Student records saved to", filename)

def read_student_records(filename):
    try:
        with open(filename, "r") as file:
            print("\nStudent Records:")
            for line in file:
                name, marks = line.strip().split(',')
                print(f"Name: {name}, Marks: {marks}")
    except FileNotFoundError:
        print("File not found. Please store records first.")

# Main program
filename = "student_records.txt"
store_student_records(filename)
read_student_records(filename)

Enter student records (name and marks). Enter 'done' to finish.
Enter student name: Arsh Raj
Enter marks: 467
Enter student name: Aditya Marandi
Enter marks: 345
Enter student name: done
Student records saved to student_records.txt

Student Records:
Name: Arsh Raj, Marks: 467
Name: Aditya Marandi, Marks: 345

**Q10 Write a Python program to copy an image file (binary mode) from one location to another.**

In [ ]:
source = 'wallpaper 5.png'
destination = 'copy_image.png'

try:
    with open(source, 'rb') as src_file:
        with open(destination, 'wb') as dest_file:
            dest_file.write(src_file.read())
    print(f"Image copied from '{source}' to '{destination}' successfully!")
except FileNotFoundError:
    print(f"Error: The file '{source}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Image copied from 'wallpaper 5.png' to 'copy_image.png' successfully!

## **Assignment 9**

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

In [2]:
import numpy as np

In [3]:
print(np.__version__)

2.0.2

**Q1 Create a NumPy array with values from 1 to 10. Print the shape, dimension, and data type of the array.**

In [4]:
arr = np.arange(1, 11)
print("Array:", arr)
print("Shape:", arr.shape)
print("Dimension:", arr.ndim)
print("Data type:", arr.dtype)

Array: [ 1  2  3  4  5  6  7  8  9 10]
Shape: (10,)
Dimension: 1
Data type: int64

**Q2 Create a 3x3 NumPy array of all zeros and another of all ones. Then create a 3x3 identity matrix.**